/* styles.css */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 250px;
}
.form-container label {
  color: black;
  text-align: center;
}

.info-container {
  margin-top: 10px;
  width: 500px;
  height: 250px;
  margin-left: 50%;
  max-width: 800px;
  background-color: transparent;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

/* Nueva clase para el contenedor visible */
.info-container-visible {
  background-color: rgb(223, 210, 212); /* Blanco rosado con transparencia */
}

.info-header {
  text-align: right;
}

.info-content {
  margin-top: 20px;
  text-align: center;
}

.info-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label, input, button {
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
}

input {
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button.clear-btn {
  background-color: #ccc;
  margin-top: 5px;
}

button.clear-btn:hover {
  background-color: #999;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.info-row p {
  font-size: 18px;
  margin: 0;
}
