body {
  background-color: rgb(244, 244, 244);
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav{
  background: #037a2d;
  height: 80px;
  width: 100%;
}
.enlace{
  position: absolute;
  padding: 20px 50px;
}
img{
  border-radius: 25%;
  height: 100px;
  width: 100px;
  margin-top: -15px;
  margin-left: 25px;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
li a.active, li a:hover{
  background: #fa7b03;
  transition: .5s;
  border-radius: 15px;
}
.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
section{
  background: url(fondo.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
}

@media (max-width: 952px){
  .enlace{
      padding-left: 20px;
  }
  nav ul li a{
      font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #502c2c;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  li a:hover, li a.active{
      background: none;
      color: red;
  }
  #check:checked ~ ul{
      left:0;
  }
}
.contenedor{
  background-color: rgb(255, 255, 255);
  margin-top: 0%;
  width: 100%;
  height: 700px;
  position: absolute;
}
.poster{
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
  width: 100%;
  height: 450px;
  position: absolute;
}
.poster img{
  height: 450px;
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
}
.information{
  background-color: #ffffff;
  margin-top: 450px;
  width: 100%;
  height: 250px;
}
.mision{
  background-color: beige;
  margin-top: 25px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 250px;
  border-color: #037a2d;
  border-width: 5px;
  border-style: outset;
  position: absolute;
}
.mision:hover{
  background-color: #037a2d;
}
.mision:hover h2{
  color:white;
}
.mision:hover h3{
  color: white;
}
.vision{
  background-color: beige;
  margin-top: 25px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-color: #037a2d;
  border-width: 5px;
  border-style: outset;
  margin-left: 550px;
  position: absolute;
}
.vision:hover{
  background-color: #037a2d;
}
.vision:hover h2{
  color:white;
}
.vision:hover h3{
  color: white;
}
.valores{
  background-color: beige;
  margin-top: 25px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-color: #037a2d;
  border-width: 5px;
  border-style: outset;
  margin-left: 850px;
  position: absolute;
}
.valores:hover{
  background-color: #037a2d;
}
.valores:hover h2{
  color:white;
}
.valores:hover h3{
  color: white;
}
.mision h2{
  color: black;
  text-align: center;
  margin-top: 25px;
}
.mision h3{
  color: black;
  text-align: center;
  margin-top: 10px;
}
.vision h2{
  color:black;
  text-align: center;
  margin-top: 25px;
}
.vision h3{
  color: black;
  text-align: center;
  margin-top: 10px;
}
.valores h2{
  color:black;
  text-align: center;
  margin-top: 25px;
}
.valores h3{
  color: black;
  text-align: center;
  margin-top: 10px;
}
.panel-one{
  background-color: #037a2d;
  margin-top: 700px;
  width: 100%;
  height: 60px;
}
.second-contenedor{
  background-color: #fff;
  width: 100%;
  height: 500px; 
  position: absolute;
  display: flex;
}
.panel{
  background-color: #d7d5d5;
  width: 550px;
  height: 400px;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 15px;
  border-width: 5px;
  border-style:unset;
  position: absolute;
}
.panel h2{
  color: black;
  text-align: center;
  margin-top: 55px;
}
.panel h3{
  color: black;
  text-align: left;
  margin-top: 25px;
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
}
.panel p{
 color: black;
 text-align: left;
 margin-top: 25px;
 text-align: justify;
 margin-right: 15px;
 margin-left: 15px;
}
.panel2{
  width: 500px;
  height: 00px;
  margin-top: -190px;
  margin-left: 700px;
  background-color: #037a2d;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.panel2 {
  flex-wrap: calc(50% - 0px);
}
.img{
  width: 250px;
  height: 200px;
  margin-left: 0px;
  margin-top: 0px;
}
.panel2 h1{
  color: black;
  text-align: center;
  margin-top: 25px;
}
.operation{
  background-color: beige;
  width: 100%;
  height: 500px;
  margin-top: 500px;
  position: absolute;
}
.operation h1{
  color: black;
  text-align: center;
  margin-top: 45px;
}
.contac{
  background-color: #037a2d;
  width: 100%;
  height: 400px;
  margin-top: 1000px;
}
.contac a img{
  width: 250px;
  height: 250px;
}
.line{
  width: 80%;
  height: 2px;
  position: center;
  margin-top: 70px;
  margin-left: 10%;
  background-color: white;
}
.contac h6{
  color: white;
  text-align: left;
  margin-left: 5%;
  margin-top: 40px; 
}
.contac h5{
  color: white;
  text-align: left;
  margin-left: 5%;
  margin-top: 12px; 
}