body{
    margin: 0px;
    padding: 0px;
    font-family: montserrat;
    background: linear-gradient( 120deg, #040b7e ,#cd8813a1);
    height: 100vh;
} 
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 450px;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}
.formulario h1{
    text-align: center;
    padding: 0 0 0px 0;
    border-bottom: 1px solid white;
}
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .username{
    position: relative;
    border-bottom: 2px solid#adadad;
    margin: 30px 0;
}
.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.texte{
    position: absolute;
    top: 45px;
    left: 5px;
    color: #adadad;
    transform: traslateV(50%);
    font-size: 16px;
    pointer-events: none;
}
form .contrasena{
    position: relative;
    border-bottom: 2px solid#adadad;
    margin: 30px 0;
}
.contrasena input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.username span::before{
    content: ¨´;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100px;
    height: 2px;
    background: purple;
}
.recordar{
    text-align: center;
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;
}
.recordar:hover{
    text-decoration: underline;
}
.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #3a9c26fe;
    border: none;
    border-radius: 25px; /* Radio del borde del botón */
    cursor: pointer;
    transition: boxshadow 0.3s ease-in-out; /* Transición suave para el efecto neón */
    height: 50px;
    width: 300px;
  }
  
  /* Efecto neón cuando el cursor está sobre el botón */
  .btn:hover {
    box-shadow: 0 0 10px 2px rgba(25, 175, 25, 0.8); /* Brillo neón verde */
  }
  
.iniciar{
    color: white;
    text-align: center;
    margin-top: 4px;
}
.registrar{
    margin-top: 5%;
    text-align: center;
}
