body {
  background-color: rgb(244, 244, 244);
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav{
  background: #037a2d;
  height: 80px;
  width: 100%;
}
.enlace{
  position: absolute;
  padding: 20px 50px;
}
img{
  border-radius: 25%;
  height: 50px;
  width: 60px;
  margin-top: 15px;
  margin-left: 25px;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
li a.active, li a:hover{
  background: #fa7b03;
  transition: .5s;
  border-radius: 15px;
}
.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
section{
  background: url(fondo.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
}

@media (max-width: 952px){
  .enlace{
      padding-left: 20px;
  }
  nav ul li a{
      font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #502c2c;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  li a:hover, li a.active{
      background: none;
      color: red;
  }
  #check:checked ~ ul{
      left:0;
  }
}
.contenedor{
  background-color: rgb(255, 255, 255);
  margin-top: 0%;
  width: 100%;
  height: 700px;
  position: absolute;
}
.poster{
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
  width: 100%;
  height: 450px;
  position: absolute;
}
.poster img{
  height: 450px;
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
}
.information{
  background-color: #ffffff;
  margin-top: 450px;
  width: 100%;
  height: 250px;
}
.mision{
  background-color: #ffffff;
  margin-top: 25px;
  width: 160px;
  height: 200px;
  border-radius: 15px;
  margin-left: 250px;
  border-color: #037a2d;
  border-width: 5px;
  border-style: outset;
  position: absolute;
}
.mision:hover{
  background-color: #037a2d;
}
.mision:hover h2{
  color:white;
}
.mision:hover h3{
  color: white;
}
.vision{
  background-color: #ffffff;
  margin-top: 25px;
  width: 160px;
  height: 200px;
  border-radius: 15px;
  border-color: #037a2d;
  border-width: 5px;
  border-style: outset;
  margin-left: 550px;
  position: absolute;
}
.vision:hover{
  background-color: #037a2d;
}
.vision:hover h2{
  color:white;
}
.vision:hover h3{
  color: white;
}
.valores{
  background-color: #ffffff;
  margin-top: 25px;
  width: 160px;
  height: 200px;
  border-radius: 15px;
  border-color: #037a2d;
  border-width: 5px;
  border-style: outset;
  margin-left: 850px;
  position: absolute;
}
.valores:hover{
  background-color: #037a2d;
}
.valores:hover h2{
  color:white;
}
.valores:hover h3{
  color: white;
}
.mision h2{
  color: black;
  text-align: center;
  margin-top: 25px;
}
.mision h3{
  color: black;
  text-align: center;
  margin-top: 10px;
}
.vision h2{
  color:black;
  text-align: center;
  margin-top: 25px;
}
.vision h3{
  color: black;
  text-align: center;
  margin-top: 10px;
}
.valores h2{
  color:black;
  text-align: center;
  margin-top: 25px;
}
.valores h3{
  color: black;
  text-align: center;
  margin-top: 10px;
}
.panel-one{
  background-color: #037a2d;
  margin-top: 700px;
  width: 100%;
  height: 50px;
}
.panel-one h1{
  color: rgb(255, 255, 255); 
  text-align: center;
  margin-bottom: 60%;
}
.panel-one:hover{
  background-color: #fa7b03;
}
.second-contenedor{
  background-color: #fff;
  width: 100%;
  height: 1000;
  margin-top: 750px;
  overflow: visible;
}
