body{
    margin: 0px;
    width: 100%;
    padding: 0px;
    font-family: montserrat;
    background: #fff;
    height: 100vh;
    background: linear-gradient(45deg, green, blue);
    background-size: 400% 400%;
    position: relative;
    /*animation: cambiar 10s ease infinite;*/
}
/*@keyframes cambiar{
    0%{background-position:0 50%;}
    58%{background-position: 100% 50%;}
    100%{background-position: 0% 70%;}
}*/

/*     background: linear-gradient(green, 75%,  blue); */
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 450px;
    transform: translate(-50%, -50%);
    width: 400px;
    background: transparent;
    border-color: transparent;
    border-radius: 10px;
}
.formulario h1{
    text-align: center;
    color: white;
    padding: 0 0 0px 0;
    margin-top: 50px;
    border-bottom: 10px solid transparent;
}
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .username{
    position: relative;
    border-bottom: 2px solid#adadad;
    margin: 30px 0;
}
.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.texte{
    position: absolute;
    top: 45px;
    left: 5px;
    color: #adadad;
    transform: traslateV(50%);
    font-size: 16px;
    pointer-events: none;
}
form .contrasena{
    position: relative;
    border-bottom: 2px solid#adadad;
    margin: 30px 0;
}
.contrasena input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.username span::before{
    content: ¨´;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100px;
    height: 2px;
    background: purple;
}
.recordar{
    text-align: center;
    margin: -5px 0 20px 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.recordar a{
    color: silver;
}
.recordar:hover{
    text-decoration: underline;
}
.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 25px; /* Radio del borde del botón */
    cursor: pointer;
    transition: boxshadow 0.3s ease-in-out; /* Transición suave para el efecto neón */
    height: 50px;
    width: 300px;
  }
  
  /* Efecto neón cuando el cursor está sobre el botón */
  .btn:hover {
    box-shadow: 0 0 10px 2px rgba(51, 153, 255, 0.8); /* Brillo neón verde */
  }
  
.iniciar{
    color: white;
    text-align: center;
    margin-top: -15px;
}
.registrar{
    margin-top: 5%;
    text-align: center;
}
.contact{
    background-color: blue;
    margin-top: 50px;
}
